body{
    background-color: #181825;
}

/* Navbar */
.container_flex {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 630;
  align-items: center;
  background-color: #0e0e32;
  width: 100%;
}

nav {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  color: var(--text-light);
  cursor: pointer;
  display: inline-block;
  transition: transform 0.3s, color 0.3s;
}

.link a:hover {
  color: var(--primary-color);
  transform: scale(1.1);
}


/* Home section */

  .home-header {
    padding-top: 0px !important;
  }
  
  .home-section {
    position: relative;
    z-index: 2;
    background-position: top center;
    background-size: cover !important;
    background-repeat: no-repeat;
    padding-bottom: 22px !important;
  }
  
  .home-content {
    padding: 9rem 0 2rem !important;
    color: #f5e1c7;
    text-align: left;
    z-index: 6;
  }
  
  .heading {
    font-size: 3.4em !important;
    padding-left: 45px !important;
  }
  
  .heading-name {
    font-size: 3.0em !important;
    padding-left: 45px !important;
  }
  
  .main-name {
    /* color: #cb70ff; */
    color: rgb(162, 8, 162);
  }
  
  .Typewriter__wrapper {
    font-size: 2em !important;
    color: rgb(162, 8, 162) !important;
    font-weight: 600 !important;
  }
  .Typewriter__cursor {
    font-size: 2.4em !important;
    color: rgb(207, 145, 145) !important;
  }
  .typing-homeclass{
    padding-left: 45px;
    text-align: left;
    font-size: 1.3em;
  }
  .sociallink-home{
    padding-left: 40px;
    text-align: left;
    padding-top: 35px;
  }
  @media (max-width: 767px) {
    .Typewriter__wrapper {
      font-size: 1.2em !important;
      font-weight: 500 !important;
      position: absolute !important;
    }
    .Typewriter__cursor {
      display: none !important;
    }
    .heading {
      font-size: 3em !important;
      padding-left: 16px !important;
    }
    .home-content {
      padding: 6rem 0 2rem !important;
    }
    .heading-name {
      font-size: 3.0em !important;
      padding-left: 16px !important;
    }
    .typing-homeclass{
      padding-left: 16px;
    }
    .sociallink-home{
      padding-left: 10px;
      text-align: left;
      padding-top: 55px;
    }
    .socialicons{
      padding-top: 10px;
      padding-right: 3px !important;
    }
  }

  .img-fluid {
    width: 384px;
  }

  .img-round{
    width: 384px;
  }

  /* Contact me */
  .custom-contact-form{
    width: 35%;
    margin-top: 7%;
    padding: 50px;
    background-color: #0c0c18;
    color: white;
    border-radius: 20px;
    margin: 70px auto;
  }

  .form-control{
    color: white;
    background-color: #0c0c18;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .form-control:focus {
    background-color: #0c0c18;
    color: white;
    outline: none;
    border: 1px solid #ffffff;
  }

  .form-control::placeholder {
    color: white;
    opacity: 1; 
  }

  /* Education */
  .vertical-timeline::before {
    background: white;
    width: 4px; 
  }

  h1{
    color:rgb(245, 168, 181);
  }

  .vertical-timeline-element-date {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
    text-align: left;
    margin-left: 210px; /* Adjust this value as needed */
    margin-top: 38px;
    color: #dfa65c; /* Adjust the color to match your theme */
  }


  
html {
    --section-background-color: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.582),
      rgba(12, 8, 24, 0.904)
    );
  
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    );
  
    --imp-text-color: #1f0060;
  }
  
  .purple {
    color: #b061df !important;
  }
  
  /* --------- */
  /*Scrollbar   */
  /* --------- */
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2d1950;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgba(178, 121, 216, 0.959);
    border-radius: 12px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgba(222, 130, 235, 0.911);
    border-radius: 12px;
  }
  
  .icon-colour {
    color: #700c86 !important;
  }
  
  .cert-card {
    width: 100%;
    height: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #a320c1;
    border-radius: 5px;
    box-shadow: 1px 1px #560d67;
    margin-bottom: 30px;
    flex: 0 0 30%;
    transition: all 0.4s ease 0s !important;
  }
  .cert-card:hover {
    transform: scale(1.05) !important;
    transition: all 0.9s ease 0s !important;
  }
  
  .cert-header {
    margin: 0px;
    border-radius: 5px 5px 0px 0px;
  }
  
  .logo_img {
    margin: 3px;
    width: auto;
    height: 250px;
  }
  
  .cert-body {
    margin: 0px;
    height: 150px;
  }
  
  .cert-body-title {
    font-family: "Google Sans Regular";
    font-size: 20px;
    padding: 10px;
    padding-bottom: 0px;
    color:black;
  }
  
  .cert-body-subtitle {
    font-family: "Google Sans Regular";
    color: #808080;
    padding: 10px;
    font-size: 25px;
  }
  
  .content {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
  }
  
  .content .content-overlay {
    background: rgba(255, 255, 255, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }
  
  .content:hover .content-overlay {
    opacity: 1;
  }
  
  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  
  .content:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
  }
  
  .content-details h3 {
    color: #fff;
    font-weight: 500;
    font-family: "Google Sans Regular";
    letter-spacing: 0.15em;
    margin-bottom: 0em;
    text-transform: uppercase;
  }
  
  .fadeIn-top {
    top: 20%;
  }
  
  @media (max-width: 1380px) {
  
  }
  
  @media (max-width: 768px) {
    .cert-card {
      width: 100%;
    }
    .comingsoonclass{
      height: 500px !important;;
    }
  }
  